<!DOCTYPE html>
<html>
  <head>
    <title>Bookers!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# Adds: Font Awesome %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="body">
      <%# Header %>
      <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
          <nav class="nav navbar-nav navbar-left">
            <span class="title" >Bookers</span>
          </nav>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <%# sign in %>
                <li><%= link_to "Home", user_path(current_user.id), class:"glyphicon glyphicon-home home" %></li>
                <li><%= link_to "Users", users_path, class:"glyphicon glyphicon-user users" %></li>
                <li><%= link_to "Books", books_path, class:"glyphicon glyphicon-book books" %></li>
                <li><%= link_to "logout", destroy_user_session_path, method: :delete, class:"glyphicon glyphicon-log-out logout" %></li>
              <% else %>
                <%# sign out %>
                <li><%= link_to "Home", root_path, class:"glyphicon glyphicon-home home" %></li>
                <li><%= link_to "About", home_about_path, class:"glyphicon glyphicon-link about" %></li>
                <li><%= link_to "Sign up", new_user_registration_path, class:"glyphicon glyphicon-edit sign_up" %></li>
                <li><%= link_to "login", new_user_session_path, class:"glyphicon glyphicon-log-in sign_in" %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </header>
      <div class="container">
        <%# Notice %>
        <% if flash[:notice] %>
          <p id="notice"><%= flash[:notice] %></p>
        <% end %>
        <%# yield %>
        <%= yield %>
      </div>
      <%# Footer %>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-xs-2 col-xs-offset-10">
              <p>© 2019 Infratop, Inc.</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
